{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    
    "plugins": [["inline-dotenv",{
      "path": "./config/.env" // See motdotla/dotenv for more options
    }]]
    
  }